@model List<QuestionsForum.Models.Question>

@if (Model.Count == 0)
{
    <div class="text-center">
        <h4>No questions created yet.</h4>
    </div>
}
else
{
    <div class="text-center">
        <h4>Your questions</h4>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var question in Model)
            {
                <tr>
                    <td>
                        <a asp-action="PersonalIndex" asp-controller="Question" asp-route-id="@question.Id">
                            @question.Name
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-info m-2" asp-action="Update" asp-controller="Question" asp-route-id="@question.Id">
                            Update
                        </a>
                        <a onclick="Delete(@question.Id)" class="btn btn-danger m-2">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}



@section Scripts{
    <script>
        function Delete(id) {
            $.ajax({
                url: `/Question/Delete/${id}`,
                type: "DELETE",
                success: function (data) {
                    alert(data.message);
                    if (data.success) {
                        window.location.reload();
                    }
                }
            });
            }
    </script>
}